# Pretrained weights
pretrained/

# Ignore model files
*.model
*.h5
*.ckpt
*.pt
*.pth

# Ignore tokenizer files
*.tokenizer
*.vocab
*.spm

# Ignore log files
*.log
logs/
*.json
*.bin
wandb/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build directories
build/
dist/
*.egg-info/
.eggs/

# Ignore coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig

# Ignore environment variable files
.env
.env.*

# Ignore the collection of ChromaDB
chroma_db_*